.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


/* .body {
    background-color: #040a15;
    color: rgba(183, 10, 19, 0.829);
    padding: 95px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; */

/* } */

.headercard{

    background-color: #040a15;
    color: rgba(183, 10, 19, 0.829);
    padding: 95px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* .searchbar{} */

kickslist{
    display: inline-grid;
    background-color: #57595b;
    color: rgba(183, 10, 19, 0.829);
    padding: 95px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.kickscard{ 
    
    
    text-align: center;
   
    background-color: #dedfe1;
    color: rgba(183, 10, 19, 0.829);
    
    font-family: 'Courier New', Courier, monospace;
  
}

.newkickform{
        background-color : rgb(222, 223, 225);
        color : #000;

        }


  
.button {
    position: absolute;
    top:50%;
    background-color:#d64818;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    border: 1px solid black;
  }
  .item-label {
    font-weight: 600;
    margin-right: 8px;
  }